@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(E-1.webp);
  width: 97vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  display: flex;
  width: 100%;
  padding-right: 50px;
  height: 100px;
  align-items: center;
  justify-content: space-between; 
}

.logo{
  margin-left: 100px;
  letter-spacing: 1px;
  color: white;
  font-size: 27px;
  font-weight: 700;
}

.links{
  margin-right: 20px;
  font-weight: 400;
  position: relative;
}

.links a{
  text-align: center;
  display: inline-block;
  color: white;
  padding: 30px 20px;
  text-decoration: none;
}

.links a:nth-child(1){width: 43px; line-height: 40px;}
.links a:nth-child(2){width: 55px;line-height: 40px;}
.links a:nth-child(3){width: 65; line-height: 40px;}
.links a:nth-child(4){width: 57px; line-height: 40px;}

.active{
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 18px;
  top: 0px;
  transition: left .5s, width 1s;
}

.links a:nth-child(2):hover ~ .active{
  left: 110px;
  width: 55px;
}

.links a:nth-child(3):hover ~ .active{
  left: 205px;
  width: 70px;
}

.links a:nth-child(4):hover ~ .active{
  left: 315px;
  width: 57px;
} 

.active1{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 18px;
  top: 65px;
  transform: scaleX(0);
  transition: left .5s, transform .3s,width 1s;
}

.links a:nth-child(1):hover ~ .active1{
  transform: scaleX(1);
}

.active2{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 65px;
  left: 110px;
  width: 55px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transition: left .5s, transform .3s,width 1s;
}

.links a:nth-child(2):hover ~ .active2{
  transform: scaleX(1);
}

.active3{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 65px;
  left: 205px;
  width: 70px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transition: left .5s, transform .3s,width 1s;
}

.links a:nth-child(3):hover ~ .active3{
  transform: scaleX(1);
}

.active4{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 65px;
  left: 315px;
  width: 57px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transition: left .5s, transform .3s,width 1s;
}

.links a:nth-child(4):hover ~ .active4{
  transform: scaleX(1);
}